.bg_color_orange {
  background-color: #df5b21;
}

.color_orange {
  color: #df5b21;
}

.custom_button {
  background-color: #df5b21;
  color: white;
  border: 1px solid #df5b21;
  font-size: 18px;
}

.custom_button:active {
  border: 0px;
}

.search_input {
  width: 300px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.829);
  border: 1px solid rgba(0, 0, 0, 0.397);
}

.search_input:focus {
  outline: none;
  border: 1px solid #df5b21;
}

.arrow_back {
  font-size: 40px;
  cursor: pointer;
}

.avatar_main_container {
  margin-top: 40px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  position: relative;
}

.avatar_div {
  position: absolute;
  top: -50px;
  left: 46%;
}

.data_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.bio_container {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.info_container {
  border: 1px solid rgba(128, 128, 128, 0.5);
}
